{% include 'header.html' %}


    <div class="lorem_title">
        <h1>Quienes Somos?</h1>
        <img src="./img/gaming-headphones-outline-vector.jpg" alt="" height="">
    </div>

    <div class="lorem">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt beatae molestias natus tempore eligendi veniam commodi et dolorum distinctio reprehenderit, ad recusandae culpa minus! Optio ex pariatur eum vel dicta, ratione fugiat debitis facere molestias nisi similique id ut nostrum tempore? Cum possimus laudantium dolorem numquam incidunt laborum ex tempore!</p>
        </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam quos modi necessitatibus iure vel tempore excepturi eligendi exercitationem cupiditate quae! Soluta eius nobis praesentium illo accusamus tempore laudantium dolores incidunt est possimus! Dolores deserunt nihil hic, ad quod corrupti quasi provident possimus, iste inventore veritatis nobis quaerat quas cupiditate asperiores?</p>
    </div>
{% include 'footer.html' %}