<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Flask</title>
</head>
<body>
    <div class="container">
        <h1 class="h1-responsive" style="text-align: center;">Practica Flask</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand">FLASK</a>
            <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Index <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="create" tabindex="-1" aria-disabled="false">Crear registro de empleado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/productos/" tabindex="-1" aria-disabled="false">Listado productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/productos/create" tabindex="-1" aria-disabled="false">Crear registro de producto</a>
                    </li>
                </ul>
            </div>
        </nav>